<script setup lang="ts">
import Header from "../components/Header.vue";
import Button from "../components/Button.vue";
import Table from "../components/Table.vue";
import { onMounted, onUnmounted, ref, watch } from "vue";

export type Transaction = {
	from: string;
	to: string;
	amount: number;
	hash: string;
};

const openSocket = ref<WebSocket>();
const messages = ref<Transaction[]>([]);
const sum = ref(0);

watch(openSocket, () => {
	openSocket.value?.addEventListener("error", (e) =>
		console.log("Error in WebSocket:", e)
	);
	openSocket.value?.addEventListener("message", (e) => {
		const data = JSON.parse(e.data);
		const amount = data.x.out[0].value;
		messages.value?.push({
			from: data.x.inputs[0].prev_out.addr,
			to: data.x.out[0].addr,
			amount,
			hash: data.x.hash,
		});
		sum.value += amount;
	});
});

onMounted(() => {
	const socket = new WebSocket("wss://ws.blockchain.info/inv");
	socket.addEventListener("open", () => {
		openSocket.value = socket;
	});
});

onUnmounted(() => {
	openSocket.value?.close();
});

function startConnection() {
	openSocket.value?.send(
		JSON.stringify({
			op: "unconfirmed_sub",
		})
	);
}

function stopConnection() {
	openSocket.value?.send(
		JSON.stringify({
			op: "unconfirmed_unsub",
		})
	);
}

function clearMessages() {
	messages.value = [];
	sum.value = 0;
}
</script>

<template>
	<div class="page">
		<Header>Bitcoin Transactions</Header>
		<div class="margins">
			<div class="view">
				<div class="buttons">
					<Button @click="startConnection" color="green">Запуск</Button>
					<Button @click="stopConnection" color="red">Зупинка</Button>
					<Button @click="clearMessages" color="yellow">Скинути</Button>
				</div>
				<div class="sum">Сума: {{ sum }}</div>
				<div class="table">
					<Table :entries="messages" />
				</div>
			</div>
		</div>
	</div>
</template>

<style scoped>
.page {
	width: 100%;
}

.margins {
	width: 100%;
	display: flex;
	justify-content: center;
}

.view {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.view .buttons {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.view .sum {
	text-align: center;
	font-weight: 700;
	font-size: 2rem;
}
</style>
