<script setup lang="ts">
import Welcome from "../components/Welcome.vue";
import ButtonLink from "../components/ButtonLink.vue";
</script>

<template>
	<div class="container">
		<Welcome>Welcome, User!</Welcome>
		<nav>
			<ButtonLink to="/window-manager">Window Manager</ButtonLink>
			<ButtonLink to="/crypto">Bitcoin Transactions</ButtonLink>
		</nav>
	</div>
</template>

<style scoped>
.container {
	margin-top: 40vh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

nav {
	display: flex;
	justify-content: center;
	gap: 1rem;
}
</style>
