<script setup lang="ts">
import Header from "../components/Header.vue";
import WindowBoard from "../components/WindowBoard.vue";
</script>

<template>
	<div class="page">
		<Header>Window Manager</Header>
		<div class="board"><WindowBoard /></div>
	</div>
</template>

<style scoped>
.page {
	height: 100vh;
	display: flex;
	flex-direction: column;
	gap: 5vh;
}

.board {
	height: 100%;
}
</style>
