<script setup lang="ts">
defineProps<{ to: string }>();
</script>

<template>
	<RouterLink :to="to">
		<div class="container">
			<slot />
		</div>
	</RouterLink>
</template>

<style scoped>
.container {
	padding: 0.5em 1em;
	border-radius: 0.6em;

	background-color: blanchedalmond;
	transition: all 0.13s ease-in-out;
	box-shadow: blanchedalmond 0px 0px 6px;
}

.container:hover {
	background-color: bisque;
	box-shadow: bisque 0px 0px 6px;
}

.container a {
	color: inherit;
	text-decoration: none;
}
</style>
