<script setup lang="ts">
defineProps<{
	color: "green" | "red" | "yellow";
}>();
</script>

<template>
	<button
		:class="{
			green: color === 'green',
			red: color === 'red',
			yellow: color === 'yellow',
		}"
	>
		<slot />
	</button>
</template>

<style scoped>
button {
	padding: 0.5em 1em;
	border-radius: 0.6em;

	font-size: larger;
	font-weight: 700;
	color: white;
	border: none;
	transition: all 0.13s ease-in-out;
}
button:hover {
	cursor: pointer;
}

button.green {
	background-color: hsl(119, 41%, 53%);
}
button.green:hover {
	background-color: hsl(119, 41%, 43%);
}

button.red {
	background-color: hsl(3, 67%, 58%);
}
button.red:hover {
	background-color: hsl(3, 67%, 48%);
}

button.yellow {
	background-color: hsl(37, 84%, 60%);
}
button.yellow:hover {
	background-color: hsl(37, 84%, 50%);
}
</style>
