<script setup lang="ts">
import ButtonLink from "./ButtonLink.vue";
import Welcome from "./Welcome.vue";
</script>

<template>
	<header class="container">
		<div>
			<ButtonLink to="/">Home</ButtonLink>
		</div>
		<div class="middle">
			<Welcome><slot /></Welcome>
		</div>
		<div></div>
	</header>
</template>

<style scoped>
.container {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2em;
}

.container div:first-child,
.container div:last-child {
	flex: 1;
	display: flex;
}

.container .middle {
	flex: 3;
}
</style>
