<script setup lang="ts">
import { Transaction } from "../views/BitcoinView.vue";

defineProps<{
	entries: Transaction[];
}>();
</script>

<template>
	<table>
		<thead>
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Amount</th>
			</tr>
		</thead>
		<tbody>
			<tr v-for="entry in entries" :key="entry.hash">
				<td>{{ entry.from }}</td>
				<td>{{ entry.to }}</td>
				<td>{{ entry.amount }}</td>
			</tr>
		</tbody>
	</table>
</template>

<style scoped>
table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
}

tr,
th,
td {
	border: 1px solid black;
}

th:last-child {
	width: 20%;
}
td:last-child {
	text-align: center;
}

th,
td {
	padding: 1rem;
	text-overflow: ellipsis;
	overflow: hidden;
}
</style>
