<script setup lang="ts">
import { Ref, ref } from "vue";
import Window from "./Window.vue";
import { Pos } from "../composables/useMovable";
import { Size } from "../composables/useResizable";

type Win = {
	id: number;
	initialPos: Pos;
	initialSize?: Size;
	visibilityTrigger: Ref<boolean>;
};
const initialWinSize = {
	w: 300,
	h: 100,
};
const windows: Win[] = [
	{ id: 1, initialPos: { x: 100, y: 100 }, visibilityTrigger: ref(true) },
	{ id: 2, initialPos: { x: 500, y: 100 }, visibilityTrigger: ref(true) },
	{ id: 3, initialPos: { x: 900, y: 100 }, visibilityTrigger: ref(true) },
	{ id: 4, initialPos: { x: 300, y: 300 }, visibilityTrigger: ref(true) },
	{ id: 5, initialPos: { x: 500, y: 450 }, visibilityTrigger: ref(true) },
];

function toggleVisibility(index: number) {
	windows[index].visibilityTrigger.value =
		!windows[index].visibilityTrigger.value;
}
</script>

<template>
	<div class="board">
		<Window
			v-for="win of windows"
			:key="win.id"
			:id="`${win.id}`"
			:initial-pos="win.initialPos"
			:initial-size="win.initialSize ?? initialWinSize"
			:visibilityTrigger="win.visibilityTrigger.value"
		>
			<div class="contents">{{ win.id }}</div></Window
		>
		<div class="launcher">
			<div
				class="app"
				v-for="(win, index) of windows"
				:key="win.id"
				@click="toggleVisibility(index)"
			>
				{{ win.id }}
			</div>
		</div>
	</div>
</template>

<style scoped>
.board {
	height: 100%;
	width: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}

.contents {
	width: 100%;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	font-size: 2em;
	user-select: none;
}

.launcher {
	width: 100%;

	position: absolute;
	bottom: 0;

	display: flex;
	justify-content: center;
	gap: 0.5rem;
	padding: 0.5rem;
}

.launcher .app {
	padding: 0.5em;
	background-color: blanchedalmond;
	border: 2px solid bisque;
	border-radius: 1rem;
	box-shadow: blanchedalmond 0px 0px 6px;
	transition: all 0.13s ease-in-out;

	font-size: 1.2em;
}

.launcher:hover .app {
	padding: 1em;
	user-select: none;
	cursor: pointer;
}

.launcher .app:hover {
	background-color: bisque;
}
</style>
