<script setup lang="ts">
import { ref, toRef } from "vue";
import { Pos } from "../composables/useMovable";
import { useWindow } from "../composables/useWindow";
import { Size } from "../composables/useResizable";

const props = defineProps<{
	id: number | string;
	initialPos: Pos;
	initialSize: Size;
	visibilityTrigger: boolean;
}>();

const boxRef = ref<HTMLDivElement>();
const visibilityTrigger = toRef(() => props.visibilityTrigger);

useWindow(
	boxRef,
	props.id,
	props.initialPos,
	props.initialSize,
	visibilityTrigger
);
</script>

<template>
	<div ref="boxRef"><slot /></div>
</template>

<style scoped>
div {
	position: absolute;
	background-color: blanchedalmond;
	border: 2px solid bisque;
	box-shadow: blanchedalmond 0px 0px 6px;
}
div::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
</style>
